<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../static/css/contactstyles.css">
</head>
<body>
    <div class="header">
        <a href="{{ url_for('home') }}"><img src="../static/images/BTH-logo.svg" alt="logo"></a>
        <ul class="navbar">
            <li><a href="{{url_for('home')}}">About</a></li>
            <li><a href="{{url_for('contact')}}">Contact</a></li>
            <li><a href="{{url_for('signup')}}">Sign Up</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
        </ul>
    </div>
    <div class="main">
        <div class="container">
            <img src="../static/images/hi.gif" alt="hi">
            <h1>Hello fellow mellow!</h1>
            <p>When I made this site, I actually thought that I would be able to publish it. But unfortunately, life happened.</p>
            <p>If anyone wants to help me <span>(please)</span></p>
            <p>You can contact me through:- (>~<)</p>
            <p>Disord: flashgrey3000</p>
            <p>Github: <a href="https://github.com/FlashGrey3000">flashgrey3000</a></p>
        </div>
    </div>
</body>
</html>